{% extends "layout/base.html" %}

{% load static %} 

{% block title_block %}
レビュー 一覧
{% endblock %}

{% block main_block %}
  <h1>レビュー 一覧</h1>
  <div>
    <ul>
    {% for object in object_list %}
        <li><a href="{% url 'review:review-detail' pk=object.id %}">{{object}}</a></li>
    {% endfor %}
    </ul>
  </div>
  <a href="{% url 'review:review-top' %}">レビュー トップ画面</a>
{% endblock %}

{% block extracss %}
  main {
    text-align: center;
  }
  h1 {
    padding-top: 30px;
  }
  div {
    width: 300px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
  }
  img {
    padding: 20px;
    height: 150px;
  }
{% endblock %}
